@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Mulish:wght@200&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inconsolata&family=Mulish:wght@200&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Hurricane&family=Inconsolata&family=Indie+Flower&family=Pacifico&family=Roboto:wght@100;300;400;500;700&family=Tangerine:wght@700&display=swap');
:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255,.3);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;/* không hiện thanh cuộn trục x */
    /* scroll-padding-top: 9rem; */
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background-color: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5rem;
}
body{
    background-color:var(--bg); /*cho body nền đen*/
}
/* -------------CSS header-------------- */
.header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%; /*padding thẻ header top-bottom: 1.5rem ~~ left-right:7%  */
    /* border-bottom: var(--border); tạo gạch dưới trên class header */
    position: fixed;/*fixed class header*/
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1000; 
    transition: all 0.2s linear;
}
header.sticky{
    padding: .4rem 5%;
    background-color: #010103;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    animation: headerzoom 1s;
}
@keyframes headerzoom {
    from{
        transform: translateY(-400px);
    }
    to{
        transform: translateX(0);
    }
}
                            /*css logo*/
.header .logo img{
    height: 6rem; /*img heigt 6rem*/
}
                           /*css navbar*/
.header .navbar a{
    margin: 0 2rem; /*các thẻ a cách nhau */
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    position: relative;
} 
/* .header .navbar a:hover{ khi hover các thẻ a hiện thanh gạch dưới bottom
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .1rem; 
} */
.header .navbar a::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: .1rem;
    background-color: var(--main-color);
    transition: all 0.2s linear;
}
.header .navbar a:hover::after{
    width: 100%;
 
}
.header .navbar .under:hover::after{
    width: 0%;
}

.header .navbar a.under{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .1rem;
}                          /*css icons*/
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{ /**khi hover vào*/
    color: var(--main-color);
}
#menu-btn{
    display: none;  /*ẩn - bật trên tablet and mobile */
}
                  /* CSS seacrh-form */
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{ /*từ js*/
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding: 1rem;
    text-transform: none;
    font-style: italic;
    
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
           /* css cart-items-container */
        .header .cart-items-container{
            position: absolute;
            top: 100%; /*top: 100%-right: 0%%*/
            right: -100%; /*ẩn the cart sang trái -100%*/
            height: calc(100vh - 9.5rem);
            width: 35rem;
            background-color: #fff;
            padding: 0 1.5rem;
            /* transform: scaleY(0);
            transform-origin: right;  */
        }
        .header .cart-items-container.active{ /*từ js*/
            /* transform: scaleY(1);  */
            right: 0;  
        }
        .header .cart-items-container .cart-item{
            position: relative;
            margin: 2rem 0;
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
        .header  .cart-items-container .cart-item .fa-times{
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2rem;
            cursor: pointer;
            color: var(--black);
        }
        .header  .cart-items-container .cart-item .fa-times:hover{
            color: var(--main-color);
        }
        .header  .cart-items-container .cart-item img{
            height: 7rem;
        }
        .header .cart-items-container .cart-item .content h3{
            font-size: 2rem;
            color: var(--black);
            padding-bottom: .5rem;
        }
        .header  .cart-items-container .cart-item .content .price{
            font-family: 1rem;
            color: var(--black);
            padding-bottom: .5rem;
        }

            /* css btn-checkout */
            .btn{
                margin-top: 1rem;
                display: inline-block;
                padding: .7rem 3rem;
                font-size: 1.7rem;
                color: #fff;
                background-color: var(--main-color);
                cursor: pointer;
            }
            .btn:hover{
                letter-spacing: .1rem;
            }
            .header .cart-items-container .btn{
                width: 100%;
                text-align: center;
            }

/* media queries */
    /*responsive tablet*/
@media (max-width: 991px){
    html{
        font-size: 55%;
        scroll-behavior: smooth;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .home{
        overflow: hidden;
    }
    .slick-slider{
        overflow: hidden;
    }
    .about{
        overflow: hidden;
    }
    .menu{
        overflow: hidden;
    }
    .products{
        overflow: hidden;
    }
    .review{
        overflow: hidden;
    }
    .contact{
        overflow: hidden;
    }
}
    /*responesive mobile*/
@media (max-width: 768px){
    #menu-btn{
        display: inline-block;  /*bật trên mobile */
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%; /*ẩn thẻ sang phai -100%*/
        background-color:#13131ab8;
        width: 50%; /*width cho thẻ khi responsive */
        /* height: calc(100vh - 9.5rem); */
        height: 100vh;
        text-align: center;
        transition: all 0.2s linear;
        text-transform: capitalize;
    }
    .header .navbar a{
        display: block; /*cho thẻ nằm đứng khi đã position: absolute*/
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        color: rgb(238, 231, 231);
        /* color: var(--black); */
        text-transform:capitalize;
    }
    .header .navbar a:hover{
        border: none;
    }
    .header .navbar a.under{
        border:none
    }   
    .header .logo img{
        height: 4rem;
        margin-left: 2rem; /*img heigt 6rem*/
    }
     /* active từ js */
    .header .navbar.active{ /*từ js*/
        right: 0;
    }
    .header .cart-items-container.active{ /*từ js*/
        right: 0;
    }
    .header .search-form.active{ /*từ js*/
        transform: scaleY(1);
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .header  .cart-items-container .cart-item img{
        height: 3rem;
        width: 2rem;
    }
     /*responsive HOME*/
     .home{
        background-position: right center;
        justify-content: center;
        text-align: center;
    }
    
    .home .content h3{
        background-position: left;
        font-size: 4.5rem;
        /* margin-top: -25rem; */
    }
    .home .content p{
        background-position: left;
        font-size: 1.5rem;
    }
    .message{
        display: none;
    }
    /* .footer-list{
        display: flex;
        flex-direction: column; 
        color: #fff;
        padding: 0;
        width: 100%;
        background-color: rgba(67, 64, 64, 0.33);
    } */
    /* css grid slider */
    .image-box{
        grid-template-columns: unset; 
        grid-auto-flow: column;
        grid-auto-columns: 80%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        padding: 10px;/*tu box-shadow*/
        scroll-padding: 25px;
        margin-left: -25px;/*truwf leef khi padding*/
    }
    .image{
         scroll-snap-align: center; /*start/center/end */
    }
    /* .swiper-pagination{
        display: none;
    } */
    .swiper-scrollbar{
        display: block;
    }
    .swiper-scrollbar-drag{
        background-color: rgba(224, 212, 212, 0.963) !important;
    }
    
    
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .message{
        display: none;
    }
 
    
}
/* -------------CSS section HOME-------------- */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../image/coffee-home-hd.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 90rem;
    padding: 3rem 12%;
}
.home .content h3{
    font-size: 6rem;
    color: #fff;
    font-family: 'Tangerine', cursive;
    letter-spacing: .5rem;
   
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    color: #fff;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 0;
    color: rgba(238, 238, 238, 0.809);
}
/* -------------CSS section SLIDE- Lib - SWIPER-------------- */
.swiper{
    /* margin-top: 2rem; */
    max-width: 80%;
    margin: 0 auto;
    /* width: 90%; */
    height:100%;
    position: relative;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #000;
}
.swiper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.swiper-scrollbar{
    display: none;
}

/* -------------CSS section ABOUT-------------- */
.heading{
    text-align: center;
    color: #fff;
    /* text-transform: uppercase; */
    padding: 3.5rem 0;
    font-size: 6rem;
    font-family: 'Tangerine', cursive;
}
.heading span{
    color: var(--main-color);
    /* text-transform: uppercase; */
    font-family: 'Tangerine', cursive;
    font-size: 6rem;
}

.about .row{
    display: flex;
   align-items: center;
    flex-wrap: wrap;
    background: var(--black);
}
.about .row .image{
    flex: 1 1 45rem;
   
}
.about .row .image img{
    width: 100%;
} 
.about .row .content{
    flex: 1 1 45rem;
    padding: 6rem;
}
.about .row .content h3{
    font-size: 5rem;
    letter-spacing: .2rem;
    text-align: center;
    color: #fff;
    font-family: 'Tangerine', cursive;
}
.about .row .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}


/* -------------CSS section MENU-------------- */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 2rem;
   
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box img{
    height: 10rem;
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price span{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: line-through; /*gạch ngang số*/
}
.menu .box-container .box:hover{
    background-color:bisque;
  
}

.menu .box-container .box:hover > *{
    color: var(--black);
}


/* -------------CSS section PRODUCTS-------------- */

.products .box-container{   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
    padding: 2rem;
}
.products .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.products .box-container .box .icons a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}
.products .box-container .box .icons a:hover{
    background: var(--main-color);
}
.products .box-container .box .image{
    padding: 2.5rem 0;
}
.products .box-container .box .image img{
    height: 25rem;
}
.products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.products .box-container .box .content .price{
    color: #fff;
    font-size: 1.5rem;
}
.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-size: 1.5rem;
    font-weight: lighter;
}
.products .box-container .box:hover{
    background-color:rgba(100, 148, 237, 0.768);
  
}

.products .box-container .box:hover > *{
    color: var(--black);
}

/* -------------CSS section REVIEW-------------- */
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}
.review .box-container .box{
    text-align: center;
    padding: 3rem 2rem;
    border:var(--border);
   
}
.review .box-container .box img:hover{
    transform: scale(1.2);
}
.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}
.review .box-container .box .user{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
.review .box-container .box .stars i{ 
    font-size: 1.5rem;
    color: var(--main-color);
}

/* -------------CSS section CONTACT-------------- */

.contact .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
    height: 40rem;
    padding: 2rem;
}
.contact .row form{
    flex:1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
 
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    background-color: transparent;
    color: #fff;
    height: 3rem;
    font-size: 1.5rem;
    padding: 2rem;
    font-style: italic;
}  




/* -------------CSS section SLICK-SLIDER-------------- */
 
.image{
    min-height: 300px;
    overflow: hidden;
}
.slick-slider{
    padding: 0 3rem;
} 
.slick-slider h1{
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Tangerine', cursive;
    text-transform: capitalize;
    font-size: 6rem;
    letter-spacing: .7rem;
}
.image-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box .image-item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.slick-slider .image-box .image-item .image{
    overflow: hidden;
    width: 100%;
    height: 30rem;
}
.slick-slider .image-box .image-item:hover .image img{
    transform: scale(1.2);
}
.image-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem; 
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.image-item .content-fadein{
    display: none;
}
.content-fadein{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -50%;
    background-color: #ccc;
    border-radius: 10px;
    opacity: .6;
}

/*click vào f12 chọn vào item, ảnh cách nhau 10px*/
.slick-initialized .slick-slide{
    margin: 0px 10px; 
}
/*từ js class = slick-arrow qua css cho arrow*/
/* .slick-arrow{ */
    /*viết nhanh abscentery*/
    /* position: absolute;
    top: 45%;
    transform: translateY(-50%); */
    /* border: none; do là button */
    /* width: 50px;
    height: 40px; */
    /*viết nhanh flex: center*/
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 2;
    transition: all 0.2s linear;/*viết nhanh tsall*/
/* }  */
/* .slick-arrow:hover{
    background-color: #2cccff;
    color: white;
} */
/*css arrow-prev*/
/* .slick-prev{ */
    /*viết nhanh abscenterY + enter*/
    /*căn giữa theo chiều dọc*/
    /*position: absolute; /*chung trên nên bỏ đi*/
    /*top: 45%; /*chung trên nên bỏ đi*/
    /* left: 0; */
    /*transform: translateY(-50%); /*căn giữa theo chiều dọc Y*/
    /* background-color: #2cccff; */
    /* color: white; */
    /* border: none; */
    /*z-index: 2; /*cho button prev năm lên trên*/
    /* padding: 10px 10px; */
/* } */
/*css arrow-next*/
/* .slick-next{ */
    /*viết nhanh abscenterY + enter*/
    /*căn giwuax theo chiều dọc*/
     /*position: absolute; /*chung trên nên bỏ đi*/
      /*top: 45%; /*chung trên nên bỏ đi*/
    /* right: 0; */
    /*transform: translateY(-50%); /*căn giữa theo chiều dọc Y*/
    /* background-color: #2cccff; */
    /* color: white; */
    /* border: none; */
    /*z-index: 2; /*cho button prev năm lên trên*/
    /* padding: 10px 10px;*/
/* }  */
/* css class click-dots từ js, F12 tìm class nó */
/* .slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    display: flex !important; /*nằm ngang*/
    /* align-items: center;
    justify-content: center;
    gap: 0 20px;
}  */
/*css button*/
/* .slick-dots button{
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 100rem;
    border-color: rgba(51, 49, 49, 0.205);
    border: none;
    outline: none;
    transition: all 0.2s linear;
} */
/*F12 tìm bấm vào button tìm click-active nằm trong class slick-dots */
/* .slick-dots .slick-active button{
    background-color: #2cccff;
} */

.message{
    position: relative;
}
.message-box{
    position: absolute;
    right: 3%;
    bottom: 3%;
    width: 4rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10000;
    
}

.btn-message{
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
    /* background-color:rgb(222, 184, 135); */
    opacity: 1;
    text-align: center;   
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: all 0.2s linear;
    color: #fff;
    animation: myZoom 3s infinite;

}

@keyframes myZoom{
    from{
    transform: scale(1);
    border: none;
    }
    to{
    transform: scale(1.2);
   
    background-color:var(--main-color);
    }
}
.message-box .btn-message:hover{
    background-color: #010103;
    color: #fff;
    opacity: .8;
    font-weight: bold;
    transform: scale(1.2);
    transform-origin: right;
}


#back-to-home{
    position: absolute;
    right: 0;
    bottom: 30%;
    position: fixed;
    
}

.btn-home{
    width: 3rem;
    font-size: 4rem;
    color: rgb(61, 53, 53);
    z-index: 1000;
}
#back-to-home .btn-home:hover{
    color: #ccc;
}

/* -------------CSS section BLOGS-------------- */
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;  
    /* text-align: center; */
    padding: 0 3rem;
    
}
.blogs .box{
    border: 1px solid #ccc;
}
.blogs .box-container .box .image{
    overflow: hidden;
    height: 25rem;
    width: 100%;
}
.blogs .box-container .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogs .box-container .box .image:hover img{
    transform: scale(1.2);
}

.box-container .box .content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.box-container .content .title{
    font-size: 2rem;
    color: #fff;
    margin-top: 1rem;
}
.box-container .content .title:hover{
    text-decoration: underline;
}
.box-container .box .content span{
    font-size: 1.7rem;
    color: var(--main-color);
    margin-top: 1rem;
}
.box-container .box .content p{
    color: rgba(204, 204, 204, 0.809);
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btn-blogs{
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    background-color: #010103;
    border: 1px solid #ccc;
}
.box-container .box .content .btn-blogs:hover{
    color:#13131a;
    background-color: var(--main-color);
   
}


/* -------------CSS section FOOTERS-------------- */
.footer-column{
    margin-top: 3rem;
    color: #fff;
}
.footer-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    width: 80%;
    margin: 0 auto;
    gap: 3rem;
}
.footer-column .footer-list .footer-heading{
    font-size: 2rem;
    color: #fff;
    /* text-align: center; */
    margin-bottom: 1rem;
}
/*footer-left*/
.footer-column .footer-list .footer-left p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ccc;
    margin-bottom: 1rem;
}
.footer-links-left{
    display: flex;
    color: #fff;
    font-size: 2rem;
    margin-right: 1rem;
}
.footer-links-left a{
    margin-right: 1rem;
}
.footer-column .footer-list .footer-left .footer-links-left .fa-facebook-square:hover{
    opacity: .7;
    color: #fff;
}
.footer-column .footer-list .footer-left .footer-links-left .fa-twitter-square:hover{
    opacity: .7;
    color: #fff; 
}
.footer-column .footer-list .footer-left .footer-links-left .fa-instagram-square:hover{
    opacity: .7;
    color: #fff; 
}
.footer-column .footer-list .footer-left .footer-links-left .fa-youtube:hover{
    opacity: .7;
    color: #fff;
}
.footer-column .footer-list .footer-left .footer-links-left .fa-linkedin:hover{
    opacity: .7;
    color: #fff;
}    
/*footer-middle*/
.footer-middle .footer-links-middle a{
    font-size: 1.2rem;
    color: rgb(230, 221, 221);
    margin-bottom: 1rem;
}
.footer-middle .footer-links-middle a:hover{
    opacity: .8;
    text-decoration: underline;
}

.footer-links-middle{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}
.fas{
    margin-right: 1rem;
}

/* -------------CSS section DESIGN-AUTHOR-------------- */
.design-author{
    width: 100%;
    height: 5rem ;
    color: #fff;
    text-align: center;
    line-height: 5rem;
    font-size: 1.3rem;
    text-transform:initial;
}
.design-author a{
    color: #ccc;
}
.design-author a:hover{
    text-decoration: underline;
}

/*..............CSS MODAL MESSAGE-HELP-----------------*/
.modal{
    color:#010103;
    text-transform:lowercase;
    position: relative;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: rgba(99, 94, 94, 0.202);
   
    /* pointer-events: none; */
    display: none;
   
}
.modal.open{
    display: flex;
} 
.modal.show {
    pointer-events: auto;
    opacity: 1;
}
   
   
.modal-container{
    position: fixed;
    top: 5%;
    right: 7%;
    background-color:#ccc;
    min-height: 45rem;
    width: 30rem;
    border-radius: .7rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    /* padding: 0 1rem; */
}
.heading-modal{
    background-color: #26d290;
    padding: 1rem;
    display: flex;
}

.header-modal{
    display: flex;
    justify-content:space-between;
    padding: 1rem 2rem;
    background-color: #fff;
}
.assistant{
    display: flex;
}
.assistant-content{
    margin-left: 1rem;
}
.assistant-content::after{
    content: " ";
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #1bd08a;
    position: absolute;
    top: 13%;
    left : 17%;
}
.feel i{
    font-size: 2rem;
    margin-right: 1rem;
}

.assistant-content span{
    font-size: 1.3rem;
}
.header-modal .feel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-modal .feel i:hover{
    color: rgb(0, 8, 255);
}
.content-modal-box{
    padding: 1rem;
}
.content-modal-box img{
    margin-right: .7rem;
}
.content-box{
    display: flex;
    flex-direction: column;
}
.message-1{
    width: 12rem;
    height: 3rem;
    background-color:#fff;
    text-align: center;
    line-height: 3rem;
    text-transform:none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.message-2{
    width: 20rem;
    height: 3rem;
    background-color:#fff;
    line-height: 3rem;
    text-transform:none;
    border-radius: 1rem;
    text-align: center;
}
.input-modal{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.input-modal form{
    display: flex;
}
.bgc-form{
    width: 100%;
    height: 4rem;
    background-color: #fff;
}
.bgc-form ul{
    line-height: 4rem;
    font-size: 2rem;
}
.bgc-form input{
    width: 100%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-modal p{
    padding: 1rem 2rem;
    text-align: center;
}

.input-modal input[type="text"]{
   padding: 0 2rem;

/* #preloader{
    background: #000 url(../image/loading3.gif) no-repeat center center;
    background-size: 25%;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}  */
